/* Universal Selector (*) */

* {
  font-family: tahoma;
}

/* Type Selector */

h2 {
  font-size: 25px;
}

/* Class Selector */

.artikel {
  font-size: 20px;
}

.credit {
  font-size: 10px;
}

.penulis {
  color: yellowgreen;
}

.tanggal {
  color: darkorange;
}

/* Id Selector */

#artikel-1 {
  color: darkcyan;
}

/* Child Selector */

p > span {
  color: tomato;
}

/* Adjacent Sibiling Selector */

h4 + p {
  color: grey;
  font-size: 20px;
}

/* General Sibiling Selector */

h1 ~ p {
  background-color: antiquewhite;
  text-align: justify;
}
